<a href="{{ url_for('index') }}">Home</a>

<form action="/search" method="get">
<input type="text" name="q" />
<button type=submit>Search</button>
</form>

<h2>All songs</h2>
<ul>
    {% for song in all_songs %}
        <li><a href="{{ url_for('listen', song_id=song.id) }}">{{ song.title }}</a></li>
    {% endfor %}
</ul>
