<form action="/search" method="get">
<input type="text" name="q" />
<button type=submit>Search</button>
</form>

<a href="{{ url_for('all_songs') }}"><h2>All songs</h2></a>
<h2>Labels</h2>
<ul>
{% for key in label_keys %}
    <li><a href="{{ url_for('labels', k=key) }}">{{ key }}</a></li>
{% endfor %}
</ul>
