<a href="{{ url_for('index') }}">Home</a>

<form action="/search" method="get">
<input type="text" name="q" />
<button type=submit>Search</button>
</form>

{% if label_keys %}
    <ul>
    {% for key in label_keys %}
        <li><a href="{{ url_for('labels', k=key) }}">{{ key }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if label_values %}
    <h2>{{ label_key }}</h2>
    <ul>
    {% for value in label_values %}
        <li><a href="{{ url_for('labels', k=label_key, v=value) }}">{{ value }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if all_songs %}
    <h2>{{ label_key }}: {{ label_value }}</h2>
    <ul>
    {% for song in all_songs %}
        <li><a href="{{ url_for('listen', song_id=song.id) }}">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
