<a href="{{ url_for('index') }}">Home</a>

<form action="/search" method="get">
<input type="text" name="q" />
<button type=submit>Search</button>
</form>

<h2>{{song.title}}</h2>
<button onclick="toggle('edit-song')">edit</button>
<div id="edit-song" style="display: none">
    <form action="{{ url_for('edit_song', song_id=song.id) }}" method="post">
        <input type="text" name="title" value="{{ song.title }}" style="width: 100%;" /><br>
        <input type="text" name="indexing_title" value="{% if song.indexing_title %}{{ song.indexing_title }}{% endif %}" style="width: 100%;" /><br>
        <input name="default_start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}" style="font-size: 1.5em;">
        <input name="default_end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}" style="font-size: 1.5em;">
        <input type="submit" />
    </form>
</div>
<br>

<button id="audio-btn-from-start">From start</button>
<input id="audio-start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}" style="font-size: 2em;">
<input id="audio-end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}" style="font-size: 2em;">
<button id="audio-btn-til-end">Till end</button>
<br>

<audio controls autoplay preload="auto" style="width: 100%" id='audio'>
  <source src="{{ url_for('get_media', filepath=media_fname) }}" type="audio/mpeg">
</audio>

<ul>
{% for label in song.labels %}
  <li>
  <a href="{{ url_for('labels', k=label.key) }}">{{ label.key }}</a>: 
  <a href="{{ url_for('labels', k=label.key, v=label.value) }}">{{ label.value }}</a>
  <button onclick="toggle('edit-label-{{ label.id }}')">edit</button>
  <div id="edit-label-{{label.id }}" style="display: none">
    <form action="{{ url_for('edit_label', label_id=label.id) }}" method="post">
        <input type="text" name="key" value="{{ label.key }}" />
        <input type="text" name="value" value="{{ label.value }}" />
        <input type="submit" />
    </form>
    <hr>
    <form action="{{ url_for('delete_label', label_id=label.id) }}" method="post">
        <button type="submit">DELETE</button>
    </form>
    <hr>
  </div>
  </li>
{% endfor %}
</ul>

Add label:
<form action="{{ url_for('add_label_to_song', song_id=song.id) }}" method="post">
<input type="text" name="key" />
<input type="text" name="value" />
<input type="submit" />
</form>


<script>
function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}


  var audioEl = document.getElementById('audio');
  var audioStartEl = document.getElementById('audio-start');
  var audioStartTime = audioStartEl.value;
  var audioEndEl = document.getElementById('audio-end');
  var audioEndTime = audioEndEl.value;
  
  function updateStart(val) {
    audioStartEl.value = val;
    audioStartTime = val;
    window.history.replaceState('', '', updateURLParameter(window.location.href, "s", audioStartTime));
  }
  
  function updateEnd(val) {
    audioEndEl.value = val;
    audioEndTime = val;
    window.history.replaceState('', '', updateURLParameter(window.location.href, "e", audioEndTime));
  }
  
  audioEl.addEventListener('canplaythrough', function() {
    if(this.currentTime < audioStartTime){this.currentTime = audioStartTime;}
    if(this.currentTime > audioEndTime){this.currentTime = audioStartTime;}
    this.play();
  });
  
  audioEl.addEventListener('timeupdate', function() {
    if(this.currentTime < audioStartTime){this.currentTime = audioStartTime;}
    if(this.currentTime > audioEndTime){this.currentTime = audioStartTime;}
  });
  
  audioStartEl.addEventListener('change', function() {
    updateStart(audioStartEl.value); 
  });
  
  audioEndEl.addEventListener('change', function() {
    updateEnd(audioEndEl.value) 
  });
  
  var fromStartBtnEl = document.getElementById('audio-btn-from-start');
  var tilEndBtnEl = document.getElementById('audio-btn-til-end');
  
  
  fromStartBtnEl.addEventListener('click', function() {
    updateStart(0); 
  });
  
  fromStartBtnEl.addEventListener('click', function() {
    updateEnd({{ media_length }}); 
  });
  
  
function toggle(elId) {
  var x = document.getElementById(elId);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
