<a href="{{ url_for('index') }}">Home</a>

<form action="/search" method="get">
<input type="text" name="q" value="{{ q }}"/>
<button type=submit>Search</button>
</form>


{% if download_youtube_video %}
<a href="{{ url_for('download', q=download_youtube_video) }}"><h2>Download youtube song</h2></a>
{% endif %}

{% if youtube_songs %}
<h2>Songs matching youtube query:</h2>
    {% for song in youtube_songs %}
        <li><a href="{{ url_for('listen', song_id=song.id) }}">{{ song.title }}</a></li>
    {% endfor %}
{% endif %}

{% if labels %}
    {% for label in labels.values() %}
        <h2>{{ label.key }}: {{ label.value }}</h2>
        <ul>
        {% for song in label.songs %}
            <li><a href="{{ url_for('listen', song_id=song.id) }}">{{ song.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

{% if songs %}
<h2>Songs:</h2>
    {% for song in songs %}
        <li><a href="{{ url_for('listen', song_id=song.id) }}">{{ song.title }}</a></li>
    {% endfor %}
{% else %}
<p>No results found</p>
{% endif %}
